.task-items{
    transition: all 1s;
}

.task-list-enter{
    opacity:0;
    transform: translateX(30px);
}
.task-list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.task-list-leave-active {
     position: absolute;
}
.fadeInleft{
      position: absolute;
}
.row{
    /*position: relative;*/
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    color: #807A7A
}

.brand-logo {



    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}



.pointer{
    cursor: pointer;
}

p {
    line-height: 1.7;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.container #r_persent {
    font-size: 10rem;
    background: linear-gradient(transparent 70%, #AE9890 70%);
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffab00;
    color: white;
    height: 300px;
    z-index: 1;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}


#message {
    font-size: 2rem;
    line-height: 1rem;
}




@media screen and (max-width: 800px) {
    .jumbotron {
        font-size: 4rem;
        height: 200px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .container #r_persent {

        font-size: 6rem;
        line-height: 7rem;
        background: linear-gradient(transparent 70%, #AE9890 70%);
    }
    .jumbotron .container {
        line-height: 1.5rem;
    }

    #message {

        font-size: 1rem;
    }
}
/* 800以下おわり */




/*ToDoリストの名前部分*/

.todo_name {
    font-size: 2rem;
    padding-right: 10px;
}


.row {
    
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.comp {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.comp:before {
    content: "\2713";
}


.clearText {
    display: none;
}

.navbar {
    background: #EF866B;
}


.del {
    cursor: pointer;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}
